* {
  margin: 0;
}

header {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
section {
  width: 100vw;
  height: 60vh;
  position: absolute;
}

#welcome {
  background-color: #8ea32e;
}

.m-1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 5;
}
.m-2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 4;
}
.m-3 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 3;
}
.m-4 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 2;
}
