* {
  margin: 0;
}

header {
  width: 100vw;
  height: 100vh;
}
section {
  width: 100vw;
  height: 100vh;
}

#welcome {
  background-color: #8ea32e;
  position: absolute;
  z-index: 999;
}

.m-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.m-1 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 5;
  margin-top: 100px;
}
.m-2 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 4;
  margin-top: 50px;
}
.m-3 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 3;
  margin-top: 10px;
}
.m-4 {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/m-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 2;
}
