body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    min-width: 300px;
}

a {
    color: inherit;
    transition: 1s;
    font-size: 4vw;

}


a:hover {
    text-decoration: none;
    font-size: 4.2vw;
    color: #045775;
}

.frame {
    pointer-events: none;
    background-image: url("../img/frame.png");
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999;
}
p {
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.02rem;
    font-weight: 300;
}
h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 5vw;
    color:white;
    line-height: 1;
    text-align: center;
}
h2 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 7vw;
    color:white;
    line-height: 1;
}

.site {
    font-weight: 500;
    color: #2180AE;
}
#number {
    font-weight: 500;
    color: #2180AE;
}
.condition {
    font-weight: 500;
    color: #2180AE;
}
.advocates {
    margin-top: 24px;
    font-size: 7vw;
}
.dark {
    color: #002E3B;
    font-size: 4.5vw;
    line-height: 1.1em;
    margin: 10px 0 10px 0;
}
.purple {
    color: #A663B9;
    text-align: center;
}
.blue-green {
    color: #21AEAB;
    text-align: center;
}
.light-blue {
    color: #2180AE;
}
.survey {
    font-size: 7vw;
}
.blue {
    color: #2180AE;
    text-align: center;
}
.tv-number {
font-size: 8vw;
}
.tv-text {
    font-size: 3.5vw;
}
.tv-info {
    font-size: 6vw;
    color: #FFE986;
}

.tv-footnote {
    font-size: 2.5vw;
    color: #21AEAB;
    margin-left: 148px;
    margin-bottom: 18px;
    margin-top: -10px;
}

.survey-footnote {
    font-size: 0.9rem;
    color: #045775;
    margin-right: -44px;
    margin-top: 109px;
}
.medicine-footnote {
    font-size: 1rem;
    color: #045775;
    margin-right: -53px;
    margin-top: 35px;
}
.engagement img {
    width: 100%;
}
.engagement h1 {
    position: absolute;
    top: 45px;
}
.caregiver {
    font-size: 9rem;
    color: #2180AE;
}
.hands {
    margin-top: 25px;
    font-size: 3rem;
}

/* .group-hands {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hand-1 {
    position: absolute;
    width: 50%;
}
.hand-2 {
    position: absolute;
    width: 50%;
}
.hand-3 {
    position: absolute;
    width: 50%;
}
.hand-4 {
    position: absolute;
    width: 50%;
}
.hand-5 {
    position: absolute;
    width: 50%;
}
.hand-6 {
    position: absolute;
    width: 50%;
} */

h3 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 2vw;
    line-height: 1;
    text-align: center;
}
section {
    padding: 20px 0px 50px 0px;
}

#s1 {
    background: rgb(175,226,225);
    background: linear-gradient(0deg, rgba(175,226,225,1) 0%, rgba(171,204,218,1) 10%);
}

.s1-h3 {
    margin-top: 20px;
    font-size: 4vw;
}

#s2 {
    background: rgb(223,199,230);
    background: linear-gradient(0deg, rgba(223,199,230,1) 0%, rgba(175,226,225,1) 20%);
}

#s2-no-social {
    background: rgb(223,199,230);
    background: linear-gradient(0deg, rgba(255,247,212,1) 0%, rgba(175,226,225,1) 20%);
    padding-bottom: 500px;
}

#s3 {
    background: rgb(255,247,212);
    background: linear-gradient(0deg, rgba(255,247,212,1) 0%, rgba(223,199,230,1) 20%);
    padding-bottom: 500px;

}

#s4 {
    background: rgb(176,210,227);
    background: linear-gradient(0deg, rgba(176,210,227,1) 0%, rgba(255,247,212,1) 20%);
    margin-bottom: -10px;
}

#s5 {
    background: rgb(176,210,227);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: nowrap !important;
}

.col-3, .col, .col-4, .col-5, .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.plane-1 {
    position: absolute;
    top: -8px;
    right: 216px;
    width: 9%;
}
.plane-2 {
    position: absolute;
    width: 12%;
    bottom: 0px;
    right: 200px;
}
.plane-3 {
    position: absolute;
    width: 8%;
    top: 10px;
    left: 200px;
    z-index: 99;
}
.plane-4 {
    left: 198px;
    position: absolute;
    width: 12%;
    bottom: -24px;
}

.tv {
    padding: 10px 50px 10px 50px;
}

.mt-neg-2 {
    margin-top: -480px;
}
.mt-neg-1 {
    margin-top: -150px;
}
.full-width {
    padding: 50px 0px 50px 0px;
}
.abs {
    position: absolute;
}

.s1-abs {
    position: absolute;
    top: 57px;
}
.fb {
color: #2180AE;
font-size: 4rem;
}
.insta {
color: #A663B9;
font-size: 4rem;
}
.twitter {
color: #21AEAB;
font-size: 4rem;
}

.speech-bubble-text {
    color: #002E3B;
    font-size: 3vw;
}

.time {
    position: absolute;
    top: 16px;
    font-size: 3.5rem;
    color: #A663B9;
    text-align: center;
}
.speech-blue {
    margin-right: -300px;
    position: relative;
    z-index: 9999;
    mix-blend-mode: multiply;
    width: 500px;
    height: auto;
}

.speech-green {
    margin-left: -300px;
    width: 500px;
    height: auto;
}

.question-bg {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.qm-1 {
    position: absolute;
    left: 151px;
    width: 7%;
}
.qm-2 {
    position: absolute;
    left: 205px;
    bottom: 9px;
    width: 5%;
}
.qm-3 {
    position: absolute;
    right: 554px;
    top: 139px;
    width: 5%;
}
.qm-4 {
    position: absolute;
    right: 477px;
    bottom: 186px;
    width: 4%;
}
.qm-5 {
    position: absolute;
    right: 361px;
    bottom: -50px;
    width: 4%;
}
.qm-6 {
    position: absolute;
    right: 114px;
    top: 5px;
    width: 11%;
}

.question-h2 {
    text-align: center;
    font-size: 5rem;
    color: #2180AE;
}

.question-h3 {
    text-align: center;
    font-size: 2rem;
}

.numbers {
    color: #A663B9;
    font-size: 6rem;
    margin-right: 20px;
    text-align: center;
}

.speech-bubble-m {
    margin-left: -40px;
}

.speech-container {
    position: absolute;
    z-index: 99999;
}
.speech-number {
    font-size: 6rem;
    color: white;
}
.speech-text {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}
.speech-dark {
    position: absolute;
    text-align: center;
    left: 55px;
    font-size: 4vw;
}
.town-bg {
    background-image: url("../img/town.svg");
    min-width: 100vw;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;

}
.town-text {
    position: absolute;
    right: 31px;
    top: 122px;
    text-align: center;
}
.town-text h3 {
    font-size: 3.4vw;
}
.survey-content {
    position: absolute;
    top: 100px;
    width: 50%;
    margin-left: -17px;
}
.chart {
    position: absolute;
    color: #002E3B;
    font-size: 7vw;
    top: 54px;
}
.doctors {
    position: absolute;
    color: #002E3B;
    bottom: 36px;
    font-size: 8vw;
}

.s4-h3 {
    font-size: 4vw;
}

.time-h3 {
    font-size: 3vw;
    padding-top: 10px;
}
.social-h3 {
    font-size: 3vw;
}

.site-icons {
    display: flex;
    flex-direction: row;
    width: 80vw;
}
.site-icons img {
    width: 8vw;
    margin: 0 5px 0 5px;
    transition: 1s;
    opacity: 0.8;
    transform: scale(1)
}

.site-icons img:hover {
    opacity: 1;
    transform: scale(1.1)
}

.new-site-icons {
    display: flex;
    flex-direction: row;
    width: 80vw;

}
.new-site-icons img {
    width: 14vw;
    margin: 0 4px 0 4px;
    transition: 1s;
    opacity: 0.8;
    transform: scale(1)
}

.new-site-icons img:hover {
    opacity: 1;
    transform: scale(1.1)
}

.map {
    padding-bottom: 40px;
    animation: map;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    /* animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); */
}

@keyframes map {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(20px);
    }
  }



@media screen and (max-width: 500px) { 
    .engagement h1 {
        position: absolute;
        top: 70px;
    }
}


 
