body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.frame {
    pointer-events: none;
    background-image: url("../img/frame.png");
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9999;
}
p {
    width: 70%;
}
h1 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 3.5rem;
    color:white;
    line-height: 1;
}
h2 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 4rem;
    color:white;
    line-height: 1;
}

.advocates {
    margin-top: 24px;
    font-size: 5rem;
}
.dark {
    color: #002E3B;
    font-size: 3rem;
}
.purple {
    color: #A663B9;
    text-align: center;
}
.blue-green {
    color: #21AEAB;
    text-align: center;
}

.survey {
    font-size: 7rem;
}
.blue {
    color: #2180AE;
    text-align: center;
}
.tv-number {
font-size: 5rem;
}
.tv-text {
    font-size: 1.5rem;
}
.tv-info {
    font-size: 2rem;
    color: #FFE986;
}

.tv-footnote {
    font-size: 1rem;
    color: #21AEAB;
    margin-left: 200px;
}

h3 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 2rem;
    line-height: 1;
}
section {
    padding: 20px 0px 50px 0px;
}

#s1 {
    background: rgb(175,226,225);
    background: linear-gradient(0deg, rgba(175,226,225,1) 0%, rgba(171,204,218,1) 10%);
}

#s2 {
    background: rgb(223,199,230);
    background: linear-gradient(0deg, rgba(223,199,230,1) 0%, rgba(175,226,225,1) 20%);
}

#s3 {
    background: rgb(255,247,212);
    background: linear-gradient(0deg, rgba(255,247,212,1) 0%, rgba(223,199,230,1) 20%);
    padding-bottom: 500px;

}

#s4 {
    background: rgb(176,210,227);
    background: linear-gradient(0deg, rgba(176,210,227,1) 0%, rgba(255,247,212,1) 20%);
    margin-bottom: -10px;
}

#s5 {
    background: rgb(176,210,227);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.col-3, .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tv {
    padding: 10px 50px 10px 50px;
}

.mt-neg {
    margin-top: -480px;
}
.full-width {
    padding: 50px 0px 50px 0px;
}
.abs {
    position: absolute;
}

.speech-blue {
    margin-right: -300px;
    position: relative;
    z-index: 9999;
    mix-blend-mode: multiply;
    width: 100%;
    height: auto;
}

.speech-green {
    margin-left: -300px;
    width: 100%;
    height: auto;
}

.question-bg {
    position: absolute;
}

.question-h2 {
    text-align: center;
    font-size: 5rem;
    color: #2180AE;
}

.question-h3 {
    text-align: center;
}

.numbers {
    color: #A663B9;
    font-size: 6rem;
    margin-right: 20px;
    text-align: center;
}

.speech-bubble-m {
    margin-left: -40px;
}

.speech-container {
    position: absolute;
    z-index: 99999;
}
.speech-number {
    font-size: 7rem;
    color: white;
}
.speech-text {
    font-size: 2.5rem;
    color: white;
    text-align: center;
}
.town-text {
    position: absolute;
    right: 157px;
    top: 278px;
    text-align: center;
}
.town-text h3 {
    font-size: 2.8rem;
}
.survey-content {
    position: absolute;
    top: 100px;
    width: 50%;
    margin-left: -27px;
}