/* AVAST: INTERACTIVE CREATIVE AGENCY */

* {
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  transition: 1s;
  opacity: 1;
  background-color: black;
}
.nav-colored { background-color:#000; }
.nav-transparent { background-color: blue !important;}
section {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
}
.space {
  background-color: #2F1959;
  transition: 1s;
}
.blackhole {
  background-color: #507787;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.fr {
  display: flex;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  position: absolute;
  top: 40px;
  right: 40px;
  list-style-type: none;
  display: flex;
}
li {
    margin-left: 20px;
    color: #6D82D7;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.8;
    cursor: pointer;
}
li:hover {
  color: #899df0;
}
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
header h1 {
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  color: #fff;
  letter-spacing: 1.7px;
  text-align: center;
  margin-top: -150px;
}
.stars {
  position: absolute;
  z-index: 0;
  width: 100%;
  opacity: 0.8;
}
.stars img {
  width: 100%;
  height: auto;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.logo-main {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.logo-glow {
 position: relative;
 z-index: 2;
 margin-top: -209px;
 animation: 4s infinite reverse glow;
 animation-timing-function: ease-in-out;
}
.header-box {
  position: absolute;
  top: 30%;
}
.plane-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  animation: 2s infinite reverse planeArrow;
  animation-timing-function: ease-in-out;
  z-index: 5;
}
.plane-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 3;
  transition: 1s;
}
.plane-arrow:hover {
  transform: scale(1.3);
}
.plane-glow {
  position: absolute;
  z-index: 2;
}

.arrow-top-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
  opacity: 0;
}

.arrow-top {
  width: 40%;
}
.arrow-top-glow {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9998;
  width: 70px;
  height: 70px;
  opacity: 0;
}
.arrow-top-visible {
  transform: rotate(180deg);
  opacity: 1;
}
.arrow-top-visible:hover {
  transform: rotate(180deg) scale(1.1);
  background-color: rgba(255, 255, 255, 1);
}
.blue-box {
  margin-top: -300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blueButton {

}
.blueButton button {
  position: relative;
  margin-top: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  z-index: 3001;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 80px;
  transition: 1s;
  background-color: #30f0d3;
}

.blueButton button:hover {
  transform: scale(1.2);
}

.redButton {

}

.redButton button {
  position: relative;
  margin-top: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  z-index: 3001;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 80px;
  transition: 1s;
  background-color: #FF6551;
}

.orangeButton {

}

.orangeButton button {
  position: relative;
  margin-top: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  z-index: 3001;
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 80px;
  transition: 1s;
  background-color: #FFA05C;
}

.blueBlob {
  position: absolute;
  z-index: 3;
  width: 45%;
  transition: 2s;
}

.blue-glow {
  position: absolute;
  z-index: 2;
  animation: 4s infinite reverse glow;
  width: 55%;
}

.red-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50vw;
}

.red-blob {
  position: absolute;
  z-index: 3;
  width: 45%;
  transition: 2s;
}

.red-glow {
  position: absolute;
  z-index: 2;
  animation: 4s infinite reverse glow;
  width: 50%;
}

.orange-box {
  margin-top: -300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50vw;
}

.orange-blob {
  position: absolute;
  z-index: 3;
  width: 45%;
  transition: 2s;
}

.orange-glow {
  position: absolute;
  z-index: 2;
  animation: 4s infinite reverse glow;
  width: 50%;
}
.blue-page {
  width: 100vw;
  height: 100vh;
  background-color: #04FFF0;
  transform: translateX(-100vw);
  transition: 1s;
  transition-timing-function: ease;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index:9000;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
  /* clip-path: ellipse(86% 72% at 13% 56%); */
}
.blue-clip {
  position: absolute;
  width: 100vw;
  height: 190vh;
  background-color: #171244;
  transform: translate(-100vw);
  -webkit-clip-path: ellipse(50% 0%, 86% 4%, 100% 43%, 79% 71%, 68% 100%, 0 100%, 0 78%, 0% 43%, 0 0);
  clip-path: ellipse(50% 0%, 86% 4%, 100% 43%, 79% 71%, 68% 100%, 0 100%, 0 78%, 0% 43%, 0 0);
  transition: 1s;
  transition-timing-function: ease;
  z-index: 9000;
}
.clip-translate {
  transform: translate(350px, -250px);
}
.blue-grid {
  display: flex;
  padding: 200px;
  /* position: absolute; */
  /* justify-content: space-between;
  align-content: space-around; */
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(30px);
  transition: 1s;
}
.port-item {
  display: flex;
  flex: 1 0 40%;
  height: 300px;
  margin: 20px;
  background-color: white;
  transition: .5s;
  transition-timing-function: ease;
  cursor: pointer;
  box-shadow: 0 10px 6px -6px #1DCFC4;
  border-radius: 4px
}
#port1 {
  background-image: url("https://cdn.dribbble.com/users/840806/screenshots/4554404/24pages_copy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
#port2 {
  background-image: url("https://cdn.dribbble.com/users/840806/screenshots/4535775/fashion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.port-item:hover{
  /* transform: rotate(90deg); */
  transform: translateY(-10px);
  background-color: #B7FFFB;
}
.slideIn {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .6s;
}
.blur {
  -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.red-page {
  width: 100vw;
  height: 100vh;
  background-color: #FF6551;
  transform: translateX(100vw);
  transition: 1s;
  transition-timing-function: ease;
  position: fixed;
  scroll-behavior: smooth;
  overflow-x: scroll;
  z-index:9000;
  -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.orange-page {
  width: 100vw;
  height: 100vh;
  background-color: #FFA05C;
  transform: translateY(100vh);
  transition: 1s;
  transition-timing-function: ease;
  position: fixed;
  scroll-behavior: smooth;
  overflow-x: scroll;
  z-index:9000;
  -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 50% 0);
  clip-path: polygon(100% 50%, 100% 50%, 100% 100%, 0 100%, 0 50%, 50% 0);
}

.purple-page {
  width: 100vw;
  height: 100vh;
  background-color: #9457FF;
  /* transform: translateY(-2000px); */
  transition-timing-function: ease;
  opacity: 0;
  transition: 1s;
  position: fixed;
  z-index:0;
  /* clip-path: ellipse(86% 72% at 13% 56%); */
}

.exit {
  background-color: black;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 9997;
  transition: 1s;
  cursor: pointer;
}
.exit:hover {
  transform: scale(1.2) rotate(90deg);
}
.meteor {
  position: absolute;
  top: 10%;
  left: -350px;
  animation-duration: 5s;
  animation-delay: 6s;
  animation-name: meteor;
}
.astronaut {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: 4;
  animation: 2.5s infinite alternate astronaut;
  animation-timing-function: ease;
}
.text-box-r {
  color: white;
  position: relative;
  width: 450px;
  padding: 100px;
}
.text-box-r h1 {
  font-size: 3rem;
}
.text-box-r p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.text-box-l {
  color: white;
  position: relative;
  width: 450px;
  padding: 100px;
}
.text-box-l h1 {
  font-size: 3rem;
}
.text-box-l p {
  font-size: 1.2rem;
  line-height: 1.7;
}

.p-box {
  width: 100vw;
  height: auto;
  z-index: 100;
  animation-name: rotate;
  animation-duration: 10s;

}
.p-glow {
  width: 100vw;
  animation: 4s infinite reverse glow;
  position: absolute;
  z-index: 101;
}
.p-1 {
  width: 100vw;
  position: absolute;
  z-index: 102;
  margin-top: 170px;
}
.p-2 {
  width: 100vw;
  position: absolute;
  z-index: 103;
  margin-top: 240px;
}
.p-3 {
  width: 100vw;
  position: absolute;
  z-index: 103;
  margin-top: 380px;
}
.p-4{
  width: 100vw;
  position: absolute;
  z-index: 103;
  margin-top: 480px;
}
.p-5-glow {
  width: 100vw;
  animation: 4s infinite reverse glow;
  position: absolute;
  z-index: 104;
  margin-top: 200px;
}
.p-5 {
  width: 100vw;
  position: absolute;
  z-index: 105;
  margin-top: 240px;
}
nav {
  z-index: 5000;
}
.mobile-nav {
  display: none;
}
.mobile-nav-button {
  display: none;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .mobile-nav {
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5000;
    transform: translateY(-100vh);
    transition: .5s;
  }
  .mobile-nav ul {
    margin: 0;
    position: relative;
    color: white;
    flex-direction: column;
  }

  .mobile-nav li {
    font-size: 2rem;
    margin: 20px 0 20px 0;
    text-align: center;
    color: white;
  }
  .mobile-nav-button {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    top: 30px;
    right: 30px;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 6000;
    transition: 1s;
  }
  nav {
    display: none;
  }
}
.rotate-top {
  transform: translate(0px, 10px) rotateZ(-45deg);
}
.rotate-bottom {
  transform: translate(0px, -10px) rotateZ(45deg);
}
.fade-middle {
  opacity: 0;
}
.rotate{
  transform: rotate(90deg);
}
.line-top {
  width: 30px;
  height: 5px ;
  background-color: black;
  transition: .5s;
  transition-timing-function: ease;
}
.line-middle {
  width: 30px;
  height: 5px ;
  background-color: black;
  margin: 5px 0 5px 0;
  transition: .5s;
}
.line-bottom {
  width: 30px;
  height: 5px ;
  background-color: black;
  transition: .5s;
  transition-timing-function: ease;
}
.modal-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  transition: 1s;
  margin-top: -100vh;
  z-index: 9999;
}

.modal-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100vh;
  background-color: white;
  flex-direction: column;
}
.modal-text p {
  padding: 0 100px 0 100px;
}
.modal-port {
  width: 50vw;
  height: 100vh;
}
.modal-nav {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  z-index: 9999;

}
.next {
  right: 30px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 20% 50%);
  clip-path: polygon(0 0, 100% 50%, 0 100%, 20% 50%);
}
.prev {
  left: 30px;
  -webkit-clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 50%);
  clip-path: polygon(100% 0, 80% 50%, 100% 100%, 0 50%);
}
.close {
  top: 30px;
  right: 30px;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
.close:hover {
  transform: scale(1.2);
}
.isVisible {
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 1;
  /* transform: translate(0px); */
  margin-top: 0;
}
.darken {
  background-color: rgba(0, 0, 0, 0.85);
}

#m-1 .modal-port {
background-color: blue;
}
#m-2 .modal-port {
  background-color: pink;
}
#m-3 .modal-port {
background-color: green;
}
#m-4 .modal-port {
  background-color: yellow;
}
#m-5 .modal-port {
background-color: purple;
}
#m-6 .modal-port {
  background-color: orange;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  from {
    opacity: 1;
  }

}

@keyframes planeArrow {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(5px) scale(1.1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
@keyframes glow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes meteor {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(2500px, 800px);
  }
}

@keyframes rotate {
  from {
    width: 100vw;
  }
  to {
    width: 110vw;
  }
}
@keyframes astronaut {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
.scale {
  transform: scale(20);
  position: fixed;
  z-index: 3000;
}

.translated {
  transform: translate(0px, 0px);
  opacity: 1;
  -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}
.fade {
  opacity: 0;
}

.opacity {
  opacity: 1;
  z-index: 10000;
}


@media only screen and (max-width: 600px) {
  section {
  display: block;
  }
  header h1 {
    text-transform: uppercase;
    position: relative;
    z-index: 3;
    color: #fff;
    letter-spacing: 1.7px;
    text-align: center;
    font-size: 24px;
    margin-top: -50px;
  }
  .fr {
    margin-bottom: 550px;
  }

  .logo-glow {
    position: relative;
    z-index: 2;
    width: 100%;
    margin-top: -147px;
    /* margin-bottom: 100px; */
    animation: 4s infinite reverse glow;
    animation-timing-function: ease-in-out;
  }
  .blue-box {
    margin-top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .blueBlob {
    position: absolute;
    z-index: 3;
    width: 80%;
    transition: 2s;
  }
  .blue-glow {
    position: absolute;
    z-index: 2;
    animation: 4s infinite reverse glow;
    width: 95%;
  }
  .red-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    /* margin-top: -100px; */
    margin-bottom: 600px;
}
  .red-blob {
    position: absolute;
    z-index: 3;
    width: 80%;
    transition: 2s;
  }
  .red-glow {
    position: absolute;
    z-index: 2;
    animation: 4s infinite reverse glow;
    width: 95%;
  }
  .orange-blob {
    position: absolute;
    z-index: 3;
    width: 80%;
    transition: 2s;
  }
  .orange-glow {
    position: absolute;
    z-index: 2;
    animation: 4s infinite reverse glow;
    width: 95%;
  }

  .text-box-r {
    color: white;
    position: relative;
    width: 90%;
    padding: 200px 20px 20px 20px;
  }
  .text-box-r h1 {
    font-size: 2rem;
  }
  .text-box-r p {
    font-size: 1.2rem;
    line-height: 1.7;
  }

  .text-box-l {
    color: white;
    position: absolute;
    width: 90%;
    padding: 351px 20px 20px 20px;
  }
  .text-box-l h1 {
    font-size: 2rem;
  }
  .text-box-l p {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}
