html {
    scroll-behavior: smooth;
  }

body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #fff;
}

.nav-menu {
    top: 10px;
    position: fixed;
    width: 100vw;
}


.row {
    overflow-x: hidden;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}

.col-3 {
    max-width: none;
}

.progress {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100vw;
    border-radius: 0px;
    height: 10px;
    background-color: #FFF;
}
.progress-bar {
    background-color: #FFC633;
    transition: 0.2s;
}

.lined-box {
    text-align: center;
    height: 47px;
    width: 100px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-1 {
    width: 80px;
    height: auto;
}

.arrow-2 {
    width: 80px;
    height: auto;
    transform: rotate(180deg);
}

section {
    min-width: 100%;
    overflow: hidden;
}
footer {
    width: 100vw;
    height: 60px;
    text-align: center;
    background-color: #C8C8C8;
    color: #FFF;
    padding: 20px;
}

#discover {
    background-color: #0035B0;
    position: relative;
    height: 1000px;
    color: #FFF;
    margin-top: 60px;
}

#discover h1 {
    font-size: 5rem;
    margin-top: -12px;
}
#sites {
    background-color: #FFF;
    position: relative;
    color: #0035B0;
    display: flex;
    justify-content: center;
}

#sites h1 {
  color: #FFC633;
  font-size: 5rem;
  text-align: center;
}

#sites h3 {
    text-align: center;
    color: #0035B0;
}

#sites .container-fluid{
    margin-top: 100px;
}

#hands {
    background-color: #FFC633;
    position: relative;
    color: #FFF;
    height: 860px;
    display: flex;
    justify-content: center;
}

#hands h1 {
    text-align: center;
    font-size: 4rem;
}

#hands h3 {
    text-align: center;
}


#content {
    background-color: #FF6868;
    position: relative;
    color: #FFF;
    height: 860px;
    display: flex;
    justify-content: center;
}

#content h1 {
    text-align: center;
    font-size: 4rem;
}
#content h3 {
    text-align: center;
}

#trophy {
    background-color: #0035B0;
    position: relative;
    color: #FFF;
    height: 800px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#bottom {
    background-color: #FFF;
    position: relative;
    color: #FF6868;
    height: 380px;
    display: flex;
    justify-content: center;
}

#bottom h1 { 
    text-align: center;
}

#bottom .container-fluid .row {
    margin-top: 80px;
}

#bottom button {
    background-color: #FFF;
    margin: 20px 0;
    align-self: center;
    color: #FF6868;
    font-size: 2.5rem;
    border: 5px solid #FF6868;
    width: 650px;
    border-radius: 100px;
    padding: 5px 20px;
    text-align: center;
    transition: 0.6s;
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

#bottom button:hover {
    color: #fff;
    background-color: #FF6868;
}
@media screen and (max-width: 600px) {

    #discover {
        height: 700px;
        overflow: hidden;
    }

    #sites {
        overflow: hidden;
    }

    #discover h1 {
        font-size: 2.5rem;
    }

    #hands {
        height: 475px;
        overflow: hidden;
    }

    #hands h1 {
        font-size: 2.5rem;
    }
    #hands h3 {
        font-size: 1.5rem;
    }

    #content {
        height: 700px;
        overflow: hidden;
    }

    #content h1 {
        text-align: center;
        font-size: 2.5rem;
    }
    #content h3 {
        text-align: center;
        font-size: 1.5rem;
    }

    #trophy {
        height: 500px;
        padding-top: 50px;
        overflow: hidden;
    }

    #trophy h3 {
        font-size: 1.5rem;
        width: 90vw;
        align-self: center;
    }

    #bottom {
        overflow: hidden;
        height: 280px;
        margin-top: -5px;
    }

    #bottom h1 {
        font-size: 2rem;
    }

    footer p {
        font-size: 0.8rem;
    }

    .arrow-1 {
        width: 50px;
        height: auto;
        transform: rotate(-90deg);
    }
    
    .arrow-2 {
        width: 50px;
        height: auto;
        transform: rotate(90deg);
    }

    .lined-box {
        flex-direction: row;
    }

}
.s1-top-bg {
   position: absolute;
   top: 0;
   width: 102vw;
}

@media screen and (max-width: 600px) {
    .s1-top-bg {
        margin-left: -300px;
        width: auto;
    }
}

.s1-bottom-bg {
    width: 102vw;
    position: absolute;
    bottom: 0;
    margin-bottom: -1px;
}

@media screen and (max-width: 600px) {
    .s1-bottom-bg {
        position: absolute;
        bottom: 0;
    }
    #discover .s1-bottom-bg {
        width: 150vw;
        z-index: 10;
    }
}

.s2-bottom-bg {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;
}

@media screen and (max-width: 600px) {
    .s2-bottom-bg {
        position: absolute;
        bottom: 0;
        margin-left: -59%;
        width: 220%;
    }
}

.s2-bottom-people {
    width: 800px;
    position: absolute;
    bottom: 50px;
}

@media screen and (max-width: 600px) {
    .s2-bottom-people {
        position: absolute;
        bottom: 0;
        width: 100vw;
        margin-left: 12px;
    }
}

.cta {
    background-color: #20AEAB;
    color: #fff;
    border-radius: 30px;
    height: 50px;
    transition: .5s;
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
}

.cta:hover {
    background-color: rgb(13, 110, 122);
    color: #fff;
    transform: scale(1.05);
}

.site-btn {
    background-color: #20AEAB;
    color: #fff;
    border-radius: 30px;
    height: 50px;
    transition: .5s;
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.site-btn:hover {
    background-color: rgb(13, 110, 122);
    color: #fff;
}

.discover-btn {
    align-self: center;
    background-color: #FF6868;
    text-align: center;
    color: #fff;
    border-radius: 40px;
    height: 50px;
    width: 300px;
    transition: .5s;
    margin-right: 10px;
    padding: 0px 25px 0px 25px;
    margin-top: 25px;
    animation-name: bounce;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
.discover-btn:hover {
    background-color: rgb(207, 45, 72);
    color: #fff;
}

.phone {
    width: 35vw;
    height: auto;
    margin-top: -10px;
}

.hand-img {
    z-index: 10;
    width: 80vw;
    align-self: center;
    max-width: 1200px;
}

.conversation-img {
    z-index: 10;
    width: 60vw;
    align-self: center;
    max-width: 1200px;
}

.trophy-img {
    z-index: 10;
    width: 60vw;
    align-self: center;
    max-width: 800px;
}


@media screen and (max-width: 600px) {
    .phone {
        width: 93vw;
        height: auto;
        margin-top: 0px;
    }

    .trophy-img {
        width: 80vw;
    }
}

.avatars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px 50px 0px;
    width: 900px;
}

.avatars img {
    padding: 10px;
    width: 173px;
    height: 172px;
    transition: .5s;
}


.avatars-mobile {
    display: none;
}

.avatars-mobile img {
    padding: 3px;
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 600px) {
    .avatars {
        display: none;

    }
    
    .avatars-mobile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0px 10px 0px;
    }
    
}

#hidden-container {
    display: none;
}

#hidden-sites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#hidden-container-mobile {
    display: none;
}

#hidden-sites-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.m-bottom {
    margin-bottom: 500px;
}

.mtb-5 {
    margin: 0px 0px;
}
.hand-text {
    margin-top: 30px;
    margin-bottom: -150px;
}


.nav-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .desk {
       display: none; 
    }

    .nav-mobile {
        width: 100vw;
        height: 70px;
        position: fixed;
        bottom: 0;
        background-color: white;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .nav-mobile .btn {
        background-color: #FF6868;
        color: #fff;
        border-radius: 30px;
        height: 50px;
        transition: .5s;
        padding: 0px 25px 0px 25px;
    }

    .m-bottom {
        margin-bottom: 250px;
    }


    .hand-text {
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .mtb-5 {
        margin: 50px 0;
        flex-direction: column;
        align-items: center;
    }
}



.arrow {
    margin: 10px 0px;
    animation-name: arrow;
    animation-duration: .6s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes arrow {
    from {transform: translateY(-8px)}
    to {transform: translateY(8px)}
}

@keyframes bounce {
    from {transform: scale(1)}
    to {transform: scale(1.03)}
}



@media (hover:none), 
(hover:on-demand) {

    .cta:hover {
        background-color: #20AEAB;
        color: #fff;
    }

    .discover-btn:hover {
        background-color: #FF6868;
        color: #fff;
    }

    .avatars img:hover {
        transform: scale(1)
    }
}

.mask {
    position: absolute;
    z-index: 99999999;
    width: 100vw;
    transition: 2.2s;
}

@media screen and (max-width: 600px) { 

    .mask {
        width: 300vw;
        transform: translateX(-33%);
    }
}


@media screen and (max-width: 650px) { 

    #bottom button {
        background-color: #FFF;
        margin: 20px 0;
        font-size: 1.2rem;
        border: 3px solid #FF6868;
        width: 85vw;
        border-radius: 60px;
        padding: 5px 5px;
    }

}

@media screen and (min-width: 600px)  {
    .mobile-break { display: none; }
}