/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #3e3947;
  background-color: white;
}

body, html {
  height: 100%;
}

a {
  color: #3e3947;
  text-decoration: none;
}
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}


/*Components*/

.section{
  min-height: 100%;
  position: relative;
}

#intro {
  height: 100%;
  width: 100%;
  position: relative; 
  background-image: url("img/intro.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  #intro {
    background-image: none;
    background-color: #FFF;
  }

}

#intro h2 {

  color: #5450F5;
  line-height: 1.5em;
}
#intro p {

  color: #AAAAAA;
  line-height: 1.7em;
}

#section2{
  color:#FFF;
  background-color: #5450F5;
}

#section3{
  color:#FFF;
  background-color: #27229D;
}
#section4{
  background-color: #FFF;
}
#section5{
  color:#FFF;
  background-color: #5450F5;
}

.dark-blue-row{
  background-color: #3431B0;
  padding-top: 60px;
/*  margin-top: -300px;*/
  position: relative;
  z-index: 10;
  margin-top: -100px;
}

.cloud-bg{
  height: 100%;
  width: 100%;
  background-image: url("img/cloud-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.brain{
  height: 200px;  
  width: 100%;
  /*background-image: url("img/brain.svg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.brain-clouds {
  height: 600px;  
  width: 100%;
  background-image: url("img/brain-clouds.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -600px;
}

/*.man{
  height: 100%; 
  width: 960px;
  background-image: url("img/man.svg");
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left:50%;
  margin-left: -480px;
}*/


.blue-bottom{
  height: 60%;  
  width: 100%;
  position: absolute;
  top:30%;  
  margin-top: -90px;
}


@media only screen and (max-width: 1200px) {
  .blue-bottom{
    top:31%; 
    margin-top: -90px;
  }
}
@media only screen and (max-width: 768px) {
  .blue-bottom{
    top:40%; 
  }
}

.dark-blue-bottom{
  height: auto; 
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -400px;
  }

@media only screen and (max-width: 768px) {
  .dark-blue-bottom{
    
  }
}

.light-blue{
  color: #84D0F1;
}


.darkest-blue-bottom{
  height: 300px; 
  width: 100%;
  background-image: url("img/darkest-blue-bottom.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -200px;
  position: relative;
}

.white-bottom{
  height: 700px; 
  width: 100%;
  background-image: url("img/white-bottom.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -680px;
}

.logo{
  height: 146px;  
  width: 340px;
}

@media only screen and (max-width: 768px) {
  .logo{
    height: 73px;  
    width: 170px;
 }   
}

.rnd{
  height: 40px;
  width: 140px;
  border-radius: 40px;
  color: #FFF;
  background-color: #F76381;

}

.illustration{
  width: 100%;
  height:600px;
  background-size: contain;
  background-repeat: no-repeat;
}
/*#rocket {
  background-image: url(img/rocket.svg);
}
#woman {
  background-image: url(img/woman.svg);
}
#hand {
  background-image: url(img/hand.svg);
}*/

.moon{
  height:auto;
  width: 100%;
  margin-bottom:-500px;
  position: relative;
  top:90%;
}

@media only screen and (max-width: 768px) {
  .moon{
    margin-bottom:-300px;
  }
}

.mb-6 {
  margin-bottom: 20rem;
}

.chart-placeholder {
  width: 80%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}
.chart-line{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.chart-nav {
  width:auto;
  height: 50px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  }

.site-name{
  background-image: url(img/masthead-1);

 } 
.site-logo{
  width: 50px;
  height: 50px;
  margin-left: 2px;
  margin-right: 2px;
}

.line{
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .line{
    width: 80%;
    margin-left: 10%;
  }
}

/*Vertical Nav*/

.img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
}

/* No Touch devices */
.nav-trigger {
  display: none;
}

.no-touch #vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.no-touch #vertical-nav li {
  text-align: right;
}
.no-touch #vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.no-touch #vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
.no-touch #vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.no-touch #vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-touch #vertical-nav a:hover .label {
  opacity: 1;
}
.no-touch #vertical-nav a.is-selected .dot {
  background-color: white;
}
.no-touch #vertical-nav .dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #F76381;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.no-touch #vertical-nav .label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
.touch .nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}
.touch .nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.touch .nav-trigger span::before, .touch .nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}
.touch .nav-trigger span::before {
  top: -9px;
}
.touch .nav-trigger span::after {
  bottom: -9px;
}

.touch #vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}
.touch #vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}
.touch #vertical-nav a span:first-child {
  display: none;
}
.touch #vertical-nav a.is-selected span:last-child {
  color: #F76381;
}
.touch #vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.touch #vertical-nav.open + .nav-trigger {
  background-color: transparent;
}
.touch #vertical-nav.open + .nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}
.touch #vertical-nav.open + .nav-trigger span::before, .touch #vertical-nav.open + .nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.touch #vertical-nav.open + .nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}
.touch #vertical-nav.open + .nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}
.touch #vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .nav-trigger, .touch #vertical-nav {
    bottom: 40px;
  }
}